@model PlaceSharer.WEB.Models.UserPlaceViewModel

@{
    ViewBag.Title = @Resources.Resource.Create;
}

       <h3 style="margin-left:25%">@Resources.Resource.Create</h3>
        <div id="mapCanvas"></div>
        @using (Html.BeginForm(Html.BeginForm("Create", "Place",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "contact_form" })))
        {
            @Html.ValidationSummary()
            
            @Html.Hidden("GeoLat","")
            @Html.Hidden("GeoLong", "")

            <ul >
                <li>
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </li>

                <li>
                    @Html.LabelFor(model => model.Description)
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </li>
                <li style="margin-left:0%">
                    <button class="submit" type="submit" value="Create Place" id="create-account">@Resources.Resource.AddPhoto</button>
                </li>
                <li style="margin-left:0%">     
                    <button class="submit" type="submit" value="Create Place" id="create-account">@Resources.Resource.Create</button>
                </li>
            </ul>
        }
      

<div id="infoPanel">
    <b>@Resources.Resource.CurrentPosition:</b>
    <div id="info"></div>      
</div>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyAf8q-0gl4zbuqzUd48OVK6kS-RFFcZneg" type="text/javascript"></script>

@section scripts {
   @Scripts.Render("~/bundles/googleApi")
}
