@using PlaceSharer.WEB.Models
@{
    ViewBag.Title = @Resources.Resource.Places;

}

@foreach(UserPlaceViewModel item in ViewBag.Places)
{
    @item.Name
    @item.Description
    <br />
}

<script src="https://maps.google.com/maps/api/js?key=AIzaSyAf8q-0gl4zbuqzUd48OVK6kS-RFFcZneg&callback=initMap" type="text/javascript"></script>

<div id="canvas" style="height: 500px; width:800px;  margin-left: 5%"></div>
    <div style="margin-left:10%; margin-top:15px">
@Html.ActionLink(@Resources.Resource.Create, "Create", "Place", null,
     new { @style = "linkMy" })
<br>
@Html.ActionLink(@Resources.Resource.SubscriberManagement, "Manage", "Friend", null,
     new { @style = "linkMy" })
    </div>


@section scripts {
    @Scripts.Render("~/Scripts/mapsApi.js")
}