@model PlaceSharer.WEB.Models.EditUserViewModel
<h3 style="margin-left:35%" >@Resources.Resource.ManageAccount</h3>

@using (Html.BeginForm("Edit", "Manage",
                        new { ReturnUrl = ViewBag.ReturnUrl },
                        FormMethod.Post, new { @class = "contact_form" }))
{
    <ul>
        <li>
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
         </li><li>
    @Html.LabelFor(model => model.LastName)
    @Html.EditorFor(model => model.LastName)
         </li><li>
                  <button class="submit" type="submit" value=@Resources.Resource.Change id="create-account">@Resources.Resource.Change</button>
         </li>
    </ul>
}
<br />

@Html.ActionLink(Resources.Resource.ChangePassword, "ChangePassword", "Manage");
