@model PlaceSharer.WEB.Models.LoginModel

@{
    ViewBag.Title = @Resources.Resource.SignIn;
}
<div class="main">
    <div>
        <div>
                  
            @using (Html.BeginForm("Login", "Account",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "contact_form" }))
            {
                <h3>@Resources.Resource.SignIn</h3>
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true,"")
                <ul>
                   <li>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
                   </li>
                    <li>
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
                    </li>
                    <li>
                        <button class="submit" type="submit" value="Create Account" id="create-account">@Resources.Resource.SignIn</button>
                    </li>
                    <li id="sn_buttons">
                        @*<button class="fb_button" type="submit">Facebook</button>
                        <button class="google_button" type="submit">google</button>*@
                    </li>
                </ul>
               
            }

           
            
        </div>
    </div>
</div>


