@model PlaceSharer.WEB.Models.RegistrationModel

@{
    ViewBag.Title = Resources.Resource.SignUp;
}

<div class="main">

    <div >
       
        @using (Html.BeginForm("Registration", "Account",
                    new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post, new { @class = "contact_form" }))
        {
            <h3>@Resources.Resource.SignUp</h3>
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <ul>
            <li>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </li>

            <li>
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </li>

            <li>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>

            <li>
                @Html.LabelFor(model => model.UserName)
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </li>
            <li>
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </li>

            <li>
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </li>
            <li>
                <button class="submit" type="submit" value="Create Account" id="create-account">@Resources.Resource.SignUp</button>
            </li>
            <li id="sn_buttons">
                    <button class="fb_button" type="submit">Facebook</button>
                    <button class="google_button" type="submit">google</button>
            </li>
                </ul>
        }
        
        
    </div>
</div>