@model PlaceSharer.WEB.Models.RegistrationModel

@{
    ViewBag.Title = "Home Page";
}

<div class="main">

    <div >
        <h3 style="margin-left:25%"; font-weight: normal>Registration</h3>
        @using (Html.BeginForm("Registration", "Account",
                new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "contact_form" }))
        {

            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <ul>
            <li>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </li>

            <li>
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </li>

            <li>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>

            <li>
                @Html.LabelFor(model => model.UserName)
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </li>
            <li>
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </li>

            <li>
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </li>
            <li>
                <button class="submit" type="submit" value="Create Account" id="create-account">Log In</button>
            </li>
            <li id="sn_buttons">
                    <button class="fb_button" type="submit">Facebook</button>
                    <button class="google_button" type="submit">google</button>
            </li>
                </ul>
        }
        
        
    </div>
</div>