
<h2>Search User</h2>
@using (Html.BeginForm("Subscription", "Friend", FormMethod.Post))
{
    foreach (var user in ViewBag.UserList)
    {
        <div style="border: 3px solid blue; margin: 3px">
           <h3>@user.Name</h3>
           <h3>@user.LastName</h3>
           <h3>@user.UserName</h3>

           @if (User.Identity.IsAuthenticated)
           {
               if (!(user.UserName == User.Identity.Name))
               {
                @*<button name="subscriptionUser" type="submit" value="@user.UserName">Subscribe</button>*@

                            <button name="unSubscriptionUser" type="submit" value="@user.UserName">UnSubscribe</button>

                            <button name="subscriptionUser" type="submit" value="@user.UserName">Subscribe</button>
               }
           }
           </div>
    }
}

